<html>

<head>
	<title>{{tittle}}</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/style.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/emoji.css')}}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/list">Alpaca-Store</a>
	</nav>
	<hr>
	{% if prendas[0] %}
	</div>
	<b>Lista de Clientes :</b>
	<table class="table table-borderless">
		<tr>
			<th>_id</th>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Gastos_hechos</th>
			<th>Descuento</th>
			<th>Numero_de_Tarjeta</th>
			<th>Saldo_de_tarjeta</th>
            <th>Numero_de_Paypal</th>
            <th>Saldo_de_Paypal</th>
            
		</tr>
		{% for prenda in prendas %}
		<tr>
			<td>{{ prenda["_id"] }}</td>
			<td>{{ prenda["Nombre"] }}</td>
			<td>{{ prenda["Apellido"] }}</td>
			<td>{{ prenda["Gastos_hechos"] }}</td>
			<td>{{ prenda["Descuento"] }}</td>
			<td>{{ prenda["Numero_de_Tarjeta"] }}</td>
			<td>{{ prenda["Saldo_de_tarjeta"] }}</td>
			<td>{{ prenda["Numero_de_Paypal"] }}</td>
			<td>{{ prenda["Saldo_de_Paypal"] }}</td>
		</tr>
		{% endfor %}
	</table>
	{% else %}
	<h4>No Clients in the List !!</h4>
	{% endif %}
</body>

</html>