<html>

<head>
	<title>{{tittle}}</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/style.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/emoji.css')}}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/list">Alpaca-Store</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
			aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/verCarrito">Ver Carrito</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">
						Categorias
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="/CategoriaGorras">Gorras</a>
						<a class="dropdown-item" href="/CategoriaCalcetines">Calcetines</a>
						<a class="dropdown-item" href="/CategoriaChalecos">Chalecos</a>
						<a class="dropdown-item" href="/CategoriaPullovers">Pullovers</a>
						<a class="dropdown-item" href="/CategoriaPonchos">Ponchos</a>
						<a class="dropdown-item" href="/Categoriachalinas">Chalinas</a>
						<a class="dropdown-item" href="/CategoriaMantas">Mantas</a>
						<a class="dropdown-item" href="/CategoriaJerseys">Jerseys</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">
						Clasificaciones
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="/clasificacionNina">Ropa de nina</a>
						<a class="dropdown-item" href="/clasificacionNino">Ropa de nino</a>
						<a class="dropdown-item" href="/clasificacionDama">Ropa de dama</a>
						<a class="dropdown-item" href="/clasificacionVaron">Ropa de varon</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">
						Estilo de Fabricacion
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="/fabricacionManual">Manual</a>
						<a class="dropdown-item" href="/fabricacionMaquina">Maquina</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">
						Filtrar
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="/prendasMasVendidas">Mas vendidas</a>
						<a class="dropdown-item" href="/prendasMasVistas">Mas vistas</a>
					</div>
				</li>
			</ul>
		</div>
	</nav>
	<hr>
	{% if prendas[0] %}
	<div span="right">
		<form action="/search" method="GET">
			<table class="none" id="close">
				<tr>
					<td></td>
					<td></td>
					<td><b>Buscar:</b></td>
					<td><select class="custom-select mr-sm-2" name="refer" required>
							<option value="Nombre">Nombre</option>
							<option value="Color">Color</option>
							<option value="Codigo">Codigo</option>
							<option value="categoria">Categoria</option>
						</select></td>
					<td><input class="form-control" type="text" name="key" placeholder="dato de la busqueda" size="15" /></td>
					<td><button type="submit" class="btn btn-warning">Search</button></td>
				</tr>
			</table>

		</form>
	</div>
	<div class="container-fluid">
		<div class=" row justify-content-center align-items-center">
			{% for prenda in prendas %}
			<div class="col-2 card ml-3 mr-3 mb-3" style="width: 20rem;">
				<img class="card-img-top" src='{{prenda["URL_de_imagen"]}}' alt="Card image cap">
				<div class="card-body text-center align-middle">
					<h4 class="card-title">{{ prenda["Nombre"] }}</h4>
					 <h6>Codigo: {{ prenda["Codigo"] }}</h6>
					<p class="card-text">{{ prenda["Descripcion"] }}</p>
					<p class="card-text">Precio: {{ prenda["Precio"] }}, Color: {{ prenda["Color"] }}, Stock:
						{{ prenda["Stock"] }}, Fabricacion: {{ prenda["Estilo_de_Fabricacion"] }}</p>
					<a href="./agregarCarrito?_id={{ prenda['_id'] }}"><button class="btn btn-success" type="submit">Agregar al Carrito</button></a> 
				</div>
			</div>
			{% endfor %}
		</div>
	</div>

	{% else %}
	<h4>No Tasks in the List !!</h4>
	{% endif %}

</body>

</html>