<html>
	
<head>
	<title>{{tittle}}</title>
	<link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='assets/style.css')}}" >
	<link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='assets/emoji.css')}}" >
	<script src="{{ url_for('static',filename='assets/twemoji.min.js')}}"></script>  
	<script src="{{ url_for('static',filename='assets/emoji.js')}}"></script>
</head>

<body>
	<ul>
		<li><a href="/list">Prendas</a></li>
		<li><a href="/Busqueda">Busqueda</a></li>
	</ul>

	<hr>
	{% if prendas[0] %}
	<div span="right">
	<form action="/search"	method="GET" >
		<table class="none" id="close">
		<tr>
		<td></td><td></td>
		<td><big><b>Search Reference:</b></big></td>
		<td><select name="refer" required>
			<option value="Nombre">Nombre</option>
			<option value="Color">Color</option>
			<option value="Codigo">Codigo</option>
			<option value="categoria">Categoria</option>
		</select></td>
		<td><input type="text" name="key" placeholder="Search Task" size="15" /></td>
		<td><button type="submit">Search</button></td>
		</tr>
		</table>
	</form>
	</div>
	<b><big>Lista de Prendas :</big></b>
	<table>
		<tr id="row">
			<th>Nombre</th>
			<th>Descripcion</th>
			<th>Precio</th>
			<th>Color</th>
			<th>Stock</th>
			<th>Clasificaciones</th>
			<th>Codigo</th>
			<th>URL_de_imagen</th>
		</tr>
		{% for prenda in prendas %}
		<tr class="datas">
			<td>{{ prenda["Nombre"] }}</td>
			<td>{{ prenda["Descripcion"] }}</td>
			<td>{{ prenda["Precio"] }}</td>
			<td>{{ prenda["Color"] }}</td>
			<td>{{ prenda["Stock"] }}</td>
			<td>{{ prenda["Clasificaciones"] }}</td>
			<td>{{ prenda["Codigo"] }}</td>
			<td>{{ prenda["URL_de_imagen"] }}</td>
		</tr>
		{% endfor %}
	</table>
	{% else %}
	<h4>No Tasks in the List !!</h4>
	{% endif %}
</body>

</html>