<html>

<head>
	<title>{{tittle}}</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/style.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/emoji.css')}}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/list">Alpaca-Store</a>
	</nav>
	<hr>



	<a>
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
			Metodo de Pago
		</button>

		<a href="/resetearCarrito"><button class="btn btn-warning" type="submit">Resetear Carrito</button></a>


		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
			aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Metodo de Pago</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form action="/pagar">
							<div class="form-row align-items-center">
								<div class="col-auto my-1">
									<label class="mr-sm-2" for="inlineFormCustomSelect">Datos</label>
									<select name="refer" class="custom-select" id="inlineFormCustomSelect">
										<option selected>Nombre</option>
										{% for cli in cliente %}
										<option value="{{cli['Nombre']}}">{{ cli["Nombre"] }}</option>
										{% endfor %}
									</select>
									<select name="pago" class="custom-select" id="inlineFormCustomSelect">
										<option selected>Pago</option>
										<option value="Paypal">Paypal</option>
										<option value="Tarjeta">Tarjeta</option>
									</select>
								</div>
							</div>
							<button class="btn btn-success" type="submit">Pagar</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</a>

	{% if prendas[0] %}
	<table class="table table-hover">
		<tr class="table-active">
			<th scope="col">Nombre</th>
			<th scope="col">Descripcion</th>
			<th scope="col">Precio</th>
			<th scope="col">Color</th>
			<th scope="col">Codigo</th>
			<th scope="col">Estilo de Fabricacion</th>
			<th scope="col">Opciones</th>
		</tr>
		{% for prenda in prendas %}
		<tr>
			<td>{{ prenda["Nombre"] }}</td>
			<td>{{ prenda["Descripcion"] }}</td>
			<td>{{ prenda["Precio"] }}</td>
			<td>{{ prenda["Color"] }}</td>
			<td>{{ prenda["Codigo"] }}</td>
			<td>{{ prenda["Estilo_de_Fabricacion"] }}</td>
			<td>
				<form action="/quitarCarrito" method="POST">
					<input type="text" name="Codigo" value="{{ prenda['Codigo'] }}" hidden>
					<button class="btn btn-danger" type="submit">Quitar</button>
				</form>
			</td>
		</tr>
		{% endfor %}
	</table>
	{% else %}
	<h4>No Tasks in the List !!</h4>
	{% endif %}
	<h3>Total a Pagar: {{totalPagar}}</h3>

</body>